extends ./basic.jade

block main

    .yy-main__line

        .yy-product-list

            .yy-product-list__utils
                .yy-product-list__filter-switch Фильтр поиска
                .yy-product-list__sorting
                    .yy-input-select.yy-input-select--simple.yy-input-select--right
                        select
                            option(data-display="Сортировать по цене") По цене
                            option(data-display="Сортировать по новизне") По новизне
                            option(data-display="Сортировать по популярности") По популярности
                .yy-product-list__view-switch
                    button.yy-button-icon: i.yy-icon-line
                    button.yy-button-icon: i.yy-icon-mosaic
                .yy-clearfix

            .yy-product-list__body

                .yy-product-list__aside
                    .yy-product-list__filter
                        .yy-product-list__filter-body

                            .yy-product-list__filter-item
                                .yy-product-list__filter-name ПРОИЗВОДИТЕЛЬ
                                .yy-input-select
                                    select.yy-product-list__filter-select
                                        option Выбрать
                                        option Первый
                                        option Второй
                                        option Выбрать
                                        option Первый
                                        option Второй
                                        option Выбрать
                                        option Первый
                                        option Второй
                                        option Выбрать
                                        option Первый
                                        option Второй

                            .yy-product-list__filter-item
                                .yy-product-list__filter-name СОСТАВ
                                .yy-input-select
                                    select.yy-product-list__filter-select
                                        option Выбрать
                                        option Первый
                                        option Второй
                                        option Выбрать
                                        option Первый
                                        option Второй
                                        option Выбрать
                                        option Первый
                                        option Второй
                                        option Выбрать
                                        option Первый
                                        option Второй

                            .yy-product-list__filter-item
                                .yy-product-list__filter-name ОБЪЕМ УПАКОВКИ, л
                                .yy-input-range
                                    .yy-input-range__labels
                                        input(type='text').yy-input-range__label.yy-input-range__left-label
                                        .yy-input-range__label-separator -
                                        input(type='text').yy-input-range__label.yy-input-range__right-label
                                    .yy-input-range__slider-container
                                        .nstSlider.yy-input-range__slider(data-range_min="0" data-range_max="300" data-cur_min="0" data-cur_max="250")
                                            .yy-input-range__grip.yy-input-range__left-grip
                                                .yy-input-range__grip-line
                                                .yy-input-range__grip-line
                                                .yy-input-range__grip-line
                                            .yy-input-range__grip.yy-input-range__right-grip
                                                .yy-input-range__grip-line
                                                .yy-input-range__grip-line
                                                .yy-input-range__grip-line
                                            .yy-input-range__bar

                            .yy-product-list__filter-item
                                .yy-product-list__filter-name ЦЕНА, &#8381;
                                .yy-input-range
                                    .yy-input-range__labels
                                        input(type='text').yy-input-range__label.yy-input-range__left-label
                                        .yy-input-range__label-separator -
                                        input(type='text').yy-input-range__label.yy-input-range__right-label
                                    .yy-input-range__slider-container
                                        .nstSlider.yy-input-range__slider(data-range_min="0" data-range_max="10000" data-cur_min="0" data-cur_max="2500")
                                            .yy-input-range__grip.yy-input-range__left-grip
                                                .yy-input-range__grip-line
                                                .yy-input-range__grip-line
                                                .yy-input-range__grip-line
                                            .yy-input-range__grip.yy-input-range__right-grip
                                                .yy-input-range__grip-line
                                                .yy-input-range__grip-line
                                                .yy-input-range__grip-line
                                            .yy-input-range__bar

                            .yy-product-list__filter-item.yy-product-list__filter-item--simple
                                button.yy-button.yy-button--red Сбросить

                .yy-product-list__main
                    .yy-product-list__list

                        block products

                    .yy-product-list__pagination
                        .yy-pages
                            a(href='#').yy-pages__page 1
                            a(href='#').yy-pages__page.yy-pages__page--active 2
                            a(href='#').yy-pages__page 3
                            a(href='#').yy-pages__page 4
                            .yy-pages__separator: i.yy-icon-dot-3
                            a(href='#').yy-pages__page 44

                .yy-clearfix