extends ./layouts/basic.jade

block main

    .yy-main__line
        .yy-grid
            .yy-grid__block
                .yy-grid__box.yy-info-style
                    h2 H2. Заголовок
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus enim, malesuada vel rutrum id, egestas eu mauris. Nullam finibus justo id elit venenatis dictum. Etiam rutrum venenatis risus, non pellentesque purus lacinia sed. Nullam mollis varius vulputate. Curabitur consequat eu neque ut porta. Duis ac auctor mauris. Suspendisse vulputate mi ut lectus consequat, vitae vestibulum metus posuere. Donec sed odio nec turpis consequat ultricies. Duis sagittis quis enim id sollicitudin. Integer dapibus mollis risus eget vestibulum. Quisque sed metus sit amet eros sodales luctus. Maecenas ullamcorper purus vel enim fermentum tempus. Aliquam tempus gravida urna, nec consequat dui auctor scelerisque. Maecenas vitae metus dapibus, ornare lacus rutrum, porta sapien. Curabitur mollis lorem non lacus consectetur, non rhoncus lorem porttitor.
            .yy-grid__block.yy-grid__block--half
                .yy-grid__box.yy-info-style
                    h2 H2. Заголовок
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus enim, malesuada vel rutrum id, egestas eu mauris. Nullam finibus justo id elit venenatis dictum. Etiam rutrum venenatis risus, non pellentesque purus lacinia sed. Nullam mollis varius vulputate. Curabitur consequat eu neque ut porta. Duis ac auctor mauris. Suspendisse vulputate mi ut lectus consequat, vitae vestibulum metus posuere. Donec sed odio nec turpis consequat ultricies. Duis sagittis quis enim id sollicitudin. Integer dapibus mollis risus eget vestibulum. Quisque sed metus sit amet eros sodales luctus. Maecenas ullamcorper purus vel enim fermentum tempus. Aliquam tempus gravida urna, nec consequat dui auctor scelerisque. Maecenas vitae metus dapibus, ornare lacus rutrum, porta sapien. Curabitur mollis lorem non lacus consectetur, non rhoncus lorem porttitor.
            .yy-grid__block.yy-grid__block--half
                .yy-grid__box.yy-info-style
                    h2 H2. Заголовок
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus enim, malesuada vel rutrum id, egestas eu mauris. Nullam finibus justo id elit venenatis dictum. Etiam rutrum venenatis risus, non pellentesque purus lacinia sed. Nullam mollis varius vulputate. Curabitur consequat eu neque ut porta. Duis ac auctor mauris. Suspendisse vulputate mi ut lectus consequat, vitae vestibulum metus posuere.
            .yy-grid__block
                .yy-grid__box.yy-info-style
                    h3 H3. Заголовок
                    ul
                        li Adline
                        li FOUNTAIN
                        li Fontastica
                        li Antiqua-Fraktur dispute
                            ul
                                li Adline
                                li FOUNTAIN
                                li Fontastica
                                li Antiqua-Fraktur dispute

            .yy-clearfix