extends ./layouts/koz-cat2.jade

block content
    .yy-block-list
        .yy-block-list__title 2 Двигатель вместе с крепежом и оборудованием
        .yy-block-list__body
            a(href='#').yy-block-list__item.yy-block-list__item--large
                table
                    tbody
                        tr: td.yy-block-list__item--large__title 210 общая информация двигатель в сборе
                        tr: td.yy-block-list__item--large__image(style="background-image: url('images/temp/blueprint.jpg')")
            a(href='#').yy-block-list__item.yy-block-list__item--large
                table
                    tbody
                        tr: td.yy-block-list__item--large__title 218 крепление двигателя крепления двигателя
                        tr: td.yy-block-list__item--large__image(style="background-image: url('images/temp/blueprint.jpg')")
            a(href='#').yy-block-list__item.yy-block-list__item--large
                table
                    tbody
                        tr: td.yy-block-list__item--large__title 218 крепление двигателя крепления двигателя
                        tr: td.yy-block-list__item--large__image(style="background-image: url('images/temp/blueprint.jpg')")
