extends ./layouts/basic.jade

block main

    .yy-main__line
        .yy-catalog-box
            .yy-catalog-box__column
                ul
                    li: a.yy-link(href='#') Каталог запчастей
                    li: a.yy-link(href='#') Каталог ТО
                    li: a.yy-link(href='#') Масла и автохимия
                        ul
                            li: a.yy-link(href='#') Масла и автохимия
                            li: a.yy-link(href='#') Масла трансмиссионные и ГУР
                            li: a.yy-link(href='#') Масла индустриальные
                            li: a.yy-link(href='#') Автокосметика
                            li: a.yy-link(href='#') Антифриз
                            li: a.yy-link(href='#') Смазки
                            li: a.yy-link(href='#') Присадки
                            li: a.yy-link(href='#') Жидкости тормозные
                            li: a.yy-link(href='#') Автохимия
                            li: a.yy-link(href='#') Ароматизаторы
                            li: a.yy-link(href='#') Омыватель стекла

            .yy-catalog-box__column
                ul
                    li: a.yy-link(href='#') Электрооборудование
                        ul
                            li: a.yy-link(href='#') Аккумуляторные батареи
                            li: a.yy-link(href='#') Пуско-зарядные устройства
                            li: a.yy-link(href='#') Провода для прикуривания
                            li: a.yy-link(href='#') Автоэлектроника
                            li: a.yy-link(href='#') Автозвук
                            li: a.yy-link(href='#') Автомобильные пылесосы
                            li: a.yy-link(href='#') Автосвет
                            li: a.yy-link(href='#') Видеорегистраторы
                            li: a.yy-link(href='#') Противоугонные устройства
                            li: a.yy-link(href='#') Парковочные радары и камеры
                            li: a.yy-link(href='#') Радар-детекторы
                            li: a.yy-link(href='#') Компрессоры, насосы
                            li: a.yy-link(href='#') Подогреватели двигателя
                    li: a.yy-link(href='#') Шины и диски

            .yy-catalog-box__column
                ul
                    li: a.yy-link(href='#') Аксессуары
                        ul
                            li: a.yy-link(href='#') Дефлекторы
                            li: a.yy-link(href='#') Внешний декор
                            li: a.yy-link(href='#') Защита
                            li: a.yy-link(href='#') Коврики
                            li: a.yy-link(href='#') Фаркопы
                            li: a.yy-link(href='#') Щетки стеклоочистителя
                            li: a.yy-link(href='#') Крепления для багажа
                            li: a.yy-link(href='#') Чехлы
                            li: a.yy-link(href='#') Багажные системы
                            li: a.yy-link(href='#') Сувенирная продукция
                            li: a.yy-link(href='#') Одежда и обувь
                            li: a.yy-link(href='#') Прочие аксессуары
                            li: a.yy-link(href='#') Автокресла
                    li: a.yy-link(href='#') Прочее, Инструменты


            .yy-clearfix