extends ./layouts/TO-car-chosed.jade
block cart
    a.yy-to-cart-link(href='#') Готовые комплекты ТО для твоего автомобиля
block content
    .yy-main__line
        .yy-to-cart-box
            .yy-to-cart-box__list
                table.yy-table.yy-to-category
                    thead
                        tr
                            th.yy-table__th ОПИСАНИЕ ДЕТАЛИ
                            th.yy-table__th.yy-to-category__count-col КОЛ-ВО (шт)
                            th.yy-table__th.yy-to-category__btn-col
                    tbody
                        tr
                            td.yy-table__cell Диски тормозные
                            td.yy-table__cell 2
                            td.yy-table__cell: button.yy-button.yy-button--red Показать цену
                        tr
                            td.yy-table__cell Масло моторное
                            td.yy-table__cell 1
                            td.yy-table__cell: button.yy-button.yy-button--red Показать цену
            .yy-to-cart-box__cart
                .yy-to-cart
                    .yy-to-cart__edit.yy-to-cart__edit--active: a.yy-icon-edit(href='#')
                    .yy-to-cart__header Комплект
                    .yy-to-cart__item
                        .yy-to-cart__title МАСЛО МОТОРНОЕ 5w40, 4Л
                        .yy-to-cart__item-line
                            a.yy-to-cart__item-name(href='#') Total
                            button.yy-to-cart__btn.yy-to-cart__right-side.yy-icon-cancel
                            .yy-to-cart__right-side.yy-nb 1997 #[span.yy-to__sub-text &#8381;]
                    .yy-to-cart__item
                        .yy-to-cart__title ФИЛЬТР МАСЛЯНЫЙ
                        .yy-to-cart__item-line
                            a.yy-to-cart__item-name(href='#') Blue Print
                            button.yy-to-cart__btn.yy-to-cart__right-side.yy-icon-cancel
                            .yy-to-cart__right-side.yy-nb 221 #[span.yy-to__sub-text &#8381;]
                    .yy-hr
                    table.yy-to-cart__sum
                        tbody
                            tr.yy-to-cart__sum-item
                                td.yy-to-cart__title ИТОГО
                                td.yy-to-cart__cost.yy-nb 4170 #[span.yy-to__sub-text &#8381;]
                            tr.yy-to-cart__sum-item
                                td.yy-to-cart__title СРОК ДОСТАВКИ
                                td.yy-to-cart__ship.yy-nb 5 #[span.yy-to__sub-text дней]
                    .yy-to-cart__button
                        button.yy-button.yy-button--input.yy-button--true-red Купить