extends ./layouts/basic.jade

block main

    .yy-main__line.yy-main__line--padding
        .yy-h.yy-h--gray Запрос запчасти по VIN-номеру
        .yy-sub-h.
            VIN вашего автомобиля является самым надежным идентификатором. #[br]
            Если Вы не знаете VIN или сомневаетесь, подойдет ли выбранная деталь к вашему автомобилю - свяжитесь с Вашим менеджером
    .yy-main__line.yy-main__line--padding
        form.yy-query-line.yy-query-line--no-padding
            .yy-query-line__field.yy-query-line__field--l
                input(type="text" placeholder="Искомая деталь").yy-input-text
                .yy-query-line__err.yy-query-line__err--visible Укажите деталь!
            .yy-query-line__field.yy-query-line__field--xl
                input(type="text" placeholder="VIN-номер").yy-input-text.yy-input-text--with-icon
                .yy-input-text--with-icon__icon.yy-tooltip
                    .yy-circle.yy-circle--l.yy-circle--hoverable.yy-tooltip__over-area ?
                    .yy-tooltip__body.yy-tooltup__body--darker Посмотреть Идентификационный номер (VIN) вашего автомобиля можно в Свидетельстве о регистрации ТС
                .yy-query-line__err.yy-query-line__err--visible Укажите VIN!
            .yy-query-line__field.yy-query-line__field--s
                input.yy-input-text(type="text" placeholder="Имя")
                .yy-query-line__err.yy-query-line__err--visible Укажите имя!
            .yy-query-line__field.yy-query-line__field--s
                input.yy-input-text(type="text" placeholder="Телефон")
                .yy-query-line__err.yy-query-line__err--visible Укажите номер!
            button(type="submit").yy-button.yy-button--input.yy-query-line__submit Запрос
            .yy-clearfix

    .yy-main__line
        .yy-banner: img(src='images/temp/volvo.jpg')

    .yy-main__line

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Nissan
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Комплектация
                            th Год
                    tbody
                        tr
                            td PATHFINDER #[.yy-color-gray NISSAN]
                            td YD25DDTI
                            td AT
                            td SE
                            td 01.2008
                        tr
                            td(colspan="5")
                                div #[span.yy-color-gray Цвет кузова:] K27 - STRUCTURAL GREY
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)
                        tr
                            td(colspan="5")
                                div #[span.yy-color-gray Опции:] AREA:EUROPE; SEAT TYPE:7 SEATER TYPE; F/CRUISE CONTROL; W/SENSOR +ALARM.AIRBAG (DR+AS+SIDE+CURT); F/HD LAMP CLNR-WASH; W/CARBON FILTER AIR CONDITIONER; FIRST AID KIT; HEAVY DUTY REINFORCEMENT +STRG GEAR; F/RUSSIA; W/HEATER SEAT; W/VANITY MIRROR; F/WIPER DRIVE-INTERMITTENT
                    tbody
                        tr
                            td GTR #[.yy-color-gray NISSAN]
                            td YD25DDTI
                            td AT
                            td SE
                            td 01.2008
                        tr
                            td(colspan="5")
                                div #[span.yy-color-gray Цвет кузова:] K27 - STRUCTURAL GREY
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)
                        tr
                            td(colspan="5")
                                div #[span.yy-color-gray Опции:] F/HD LAMP CLNR-WASH; W/CARBON FILTER AIR CONDITIONER; FIRST AID KIT; HEAVY DUTY REINFORCEMENT +STRG GEAR; F/RUSSIA; W/HEATER SEAT; W/VANITY MIRROR; F/WIPER DRIVE-INTERMITTENT

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Volvo
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Модификация
                            th Год
                    tbody
                        tr
                            td XC90 #[.yy-color-gray VOLVO]
                            td GDB1550
                            td TF-80SC AWD
                            td Executive
                            td 2006#[br] 21.01.2006

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Audi
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Год
                    tbody
                        tr
                            td Audi A4 2,0 TDI #[.yy-color-gray AUDI]
                            td N46
                            td N
                            td 2004#[br] 01.01.2006
                        tr
                            td(colspan="4")
                                div #[span.yy-color-gray Цвет кузова:] K27 - STRUCTURAL GREY
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)



        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация BMW
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Регион поставки
                            th Год
                    tbody
                        tr
                            td 120i #[.yy-color-gray BMW]
                            td N46
                            td N
                            td ECE
                            td 01.06.2004#[br] 01.2006

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Land Rover europe
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Год
                    tbody
                        tr
                            td LR3/DISCOVERY 3 (GCAT) 2005-2009 #[.yy-color-gray LAND ROVER EUROPE]
                            td Lion дизель 2.7 V6 (140кВт)
                            td 6-степенч.механич.коробки передач
                            td 01.06.2004#[br] 01.2006

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Mercedes-Benz
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Год
                    tbody
                        tr
                            td ML 320 #[.yy-color-gray MERSEDES-BENZ]
                            td 01.06.2004
                        tr
                            td(colspan="2")
                                div #[span.yy-color-gray Описание:] M-CLASS UP TO IDENT NO. A221505 / X734087 WITH CODE 800

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Toyota
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Трансмиссия
                            th Год
                    tbody
                        tr
                            td LAND CRUISER PRADO #[.yy-color-gray TOYOTA]
                            td AT
                            td 01.2008
                        tr
                            td(colspan="3")
                                div #[span.yy-color-gray Цвет кузова:] K27 - STRUCTURAL GREY
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)
                        tr
                            td(colspan="3")
                                div #[span.yy-color-gray Опции:] NO.OF DOORS: 5-DOOR (5D); GEAR SHIFT TYPE: ATM, 5-SPEED FLOOR SHIFT (5FC); DRIVER'S POSITION: LEFT-HAND DRIVE VEHICLES (LHD); ENGINE 1: 3000CC DIESEL TURBO (1KDFTV); ATM,MTM: AUTOMATIC TRANSMISSION (ATM)
                        tr
                            td(colspan="3")
                                div #[span.yy-color-gray Описание:] GRJ150,KDJ15#

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Ford
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Комплектация
                            th Регион поставки
                            th Год
                    tbody
                        tr
                            td Focus 2011 - (CB8) #[.yy-color-gray FORD]
                            td 1.6L Duratec Ti-VCT (105PS) - Sigma
                            td 5-ступенчатая механическая - И5/ШИ5
                            td Серия 32
                            td (+) «RU»
                            td 01.2008
                        tr
                            td(colspan="6")
                                div #[span.yy-color-gray Цвет кузова:] Moondust Silver (met)

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Renault
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Год
                    tbody
                        tr
                            td Kangoo #[.yy-color-gray RENAULT]
                            td С290896
                            td Механическая
                            td 2008
                        tr
                            td(colspan="4")
                                div #[span.yy-color-gray Цвет кузова:] K27 - STRUCTURAL GREY
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)
                        tr
                            td(colspan="4")
                                div #[span.yy-color-gray Опции:] Тип коробки передач: JB1 Обивка сидений (см. новую табличку или каталог запасных частей 101): DRAP16 Тип системы кондиционирования воздуха.: Обычная система отопления Дополнение к комплектации: SAN913 Дополнение ограниченной серии: SAN513 Климатический пояс: Умеренный климат АБС: Нет Цветовая гамма салона: HARM01 Материал колесных дисков: Сталь Число передач: 5 Тип стеклоподъемников: Электрические Тип двигателя: F8Q Заводской номер коробки передач: S104399 Усилитель рулевого управления: Да-Стандартный Открывающаяся секция крыши: Нет Тип автомобиля: FC0N Код технических особенностей.: \0/ Специальная защита: Нет Подвеска с усиленной амортизацией: SUSNOR-Нормальная подвеска Тип крыши: Стандартная Заводской номер автомобиля: U053692 Уровень комплектации: E2 Тип и индекс коробки передач: JB1969

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Peugeot
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Год
                    tbody
                        tr
                            td 307 #[.yy-color-gray PEUGEOT]
                            td 2.0 i 16v 138
                            td КПП 5
                            td МОДЕЛЬНЫЙ ГОД 2003#[br] May 7, 2003
                        tr
                            td(colspan="4")
                                div #[span.yy-color-gray Цвет кузова:] K27 - STRUCTURAL GREY
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Mazda
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Регион поставки
                            th Год
                    tbody
                        tr
                            td MAZDA2 #[.yy-color-gray MAZDA]
                            td DIESEL
                            td Manual Transmission
                            td DE
                            td 20031211#[br] 200301
                        tr
                            td(colspan="5")
                                div #[span.yy-color-gray Цвет кузова:] K27 - STRUCTURAL GREY
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Fiat professional
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Год
                    tbody
                        tr
                            td NUOVO DOBLO 2009 (2009-….) #[.yy-color-gray FIAT PROFESSIONAL]
                            td 6957166
                            td 7/3/2013
                        tr
                            td(colspan="3")
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Honda
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Комплектация
                            th Регион поставки
                            th Год
                    tbody
                        tr
                            td Accord #[.yy-color-gray HONDA]
                            td A20A4 40000001-4499999
                            td 5MT
                            td EX-2.0i
                            td KE
                            td 1989
                        tr
                            td(colspan="6")
                                div #[span.yy-color-gray Кол-во дверей:] 4

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Mitsubishi
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Модификация
                            th Год
                    tbody
                        tr
                            td Carisma (Eur/Nedcar) - 1600 #[.yy-color-gray MITSUBISHI]
                            td CLASSIC(H-BACK/EURO3+NEW D4),5FM.T LHD
                            td 01.2003
                        tr
                            td(colspan="3")
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)
                        tr
                            td(colspan="3")
                                div #[span.yy-color-gray Опции:] OPC:S83; HIGH GROUND CLEARANCE SUSP (FR + RR); SPARE TIRE (A); AM/FM MULTI ETR RADIO + CAS/PLAY (B); POWER WINDOW (FRONT DOOR); MUD GUARD (BUILT IN TYPE); R/CONT MIRROR (W/DEFOG); FOG LAMP PRE KIT; A/C; OTHER OPTION COMBINATION; P/W + R/CONT MIR; FR HARNESS (OTHERS OPTION); CONTROL HARNESS (OTHER OPTION); WAX INJECTION; DON'T INSTALL KEYLESS ENTRY

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Hyundai
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Регион поставки
                            th Год
                    tbody
                        tr
                            td Elantra/Lantra 96 #[.yy-color-gray HYUNDAI]
                            td (C51) EUROPE
                            td 15.01.1996
                        tr
                            td(colspan="4")
                                div #[span.yy-color-gray Цвет кузова:] K27 - STRUCTURAL GREY
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)
                        tr
                            td(colspan="4")
                                div #[span.yy-color-gray Опции:] Special Car: (E) EUROPE; Коробка передач: (D) 5 SPEED; Класс: (G) HIGH GRADE; Рабочий объем двигателя: (R) 1600 CC; Кузов: (F) 4 DOOR; Топливо: (D) MANUAL TRANSAXLE; Тип Управления: (L) LEFT HAND DRIVE

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация Hyundai
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Комплектация
                            th Регион поставки
                            th Год
                    tbody
                        tr
                            td TUCSON 04:NOV.2006- #[.yy-color-gray HYUNDAI]
                            td HH31 D4EA762765
                            td 5MT
                            td EX-2.0i
                            td (C51) EUROPE
                            td 03.12.2007
                        tr
                            td(colspan="6")
                                div #[span.yy-color-gray Цвет кузова:] K27 - STRUCTURAL GREY
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)
                        tr
                            td(colspan="6")
                                div #[span.yy-color-gray Опции:] Топливо: (5) DIESEL - DIESEL; Weather Type: (3) WEATHER - THE TEMPERATE ZONE; Двигатель: (8) SOHC - TCI; Тип Управления: (L) DRIVE TYPE - LHD; АКП: (8) MANUAL T/M - 6 SPEED 4WD; Рабочий объем двигателя: (2B) 2000 CC - D; Кузов: (W5) WAGON - 5DR 5P

        .yy-vin-result
            .yy-vin-result__head
                .yy-h.yy-h--gray Модификация KIA
                .yy-sub-h Выберите нужный вариант автомобиля
            .yy-vin-result__body
                table.yy-table-car
                    thead
                        tr
                            th Наименование
                            th Двигатель
                            th Трансмиссия
                            th Комплектация
                            th Регион поставки
                            th Год
                    tbody
                        tr
                            td RIO 00MY #[.yy-color-gray KIA]
                            td P80F A6D 352326
                            td U23H
                            td EX-2.0i
                            td (B28) AMERICA
                            td 03.12.2007
                        tr
                            td(colspan="6")
                                div #[span.yy-color-gray Цвет кузова:] K27 - STRUCTURAL GREY
                                div #[span.yy-color-gray Цвет салона:] K - GRAPHITE (GREY)
                        tr
                            td(colspan="6")
                                div #[span.yy-color-gray Опции:] Топливо: (5) DIESEL - DIESEL; Weather Type: (3) WEATHER - THE TEMPERATE ZONE; Двигатель: (8) SOHC - TCI; Тип Управления: (L) DRIVE TYPE - LHD; АКП: (8) MANUAL T/M - 6 SPEED 4WD; Рабочий объем двигателя: (2B) 2000 CC - D; Кузов: (W5) WAGON - 5DR 5P