.yy-breadcrumbs {
  font-size: 14px;
}
.yy-breadcrumbs__list {
  padding: 0;
  list-style-type: none;
}
.yy-breadcrumbs__item {
  display: inline-block;
  &:after {
    content: '→';
    margin-left: 2px;
    vertical-align: -2px;
    color: $col-text-2;
    font-size: 22px;
    line-height: 16px;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}
.yy-breadcrumbs__link {
  color: $col-text-2;
  text-decoration: none;
  &:hover {
    color: darken($col-text-2, 20%);
  }
}