@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?97294042');
  src: url('../fonts/fontello.eot?97294042#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff?97294042') format('woff'),
  url('../fonts/fontello.ttf?97294042') format('truetype'),
  url('../fonts/fontello.svg?97294042#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16796337#fontello') format('svg');
  }
}
*/

[class^="yy-icon-"]:before, [class*=" yy-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.yy-icon-pinboard:before { content: '\e800'; } /* '' */
.yy-icon-line:before { content: '\e801'; } /* '' */
.yy-icon-mosaic:before { content: '\e802'; } /* '' */
.yy-icon-basket:before { content: '\e803'; } /* '' */
.yy-icon-rouble:before { content: '\e804'; } /* '' */
.yy-icon-down-dir:before { content: '\e805'; } /* '' */
.yy-icon-dot-3:before { content: '\e806'; } /* '' */
.yy-icon-autoparts-analogs:before { content: '\e807'; } /* '' */
.yy-icon-autoparts-original:before { content: '\e808'; } /* '' */
.yy-icon-edit:before { content: '\e809'; } /* '' */
.yy-icon-basket-1:before { content: '\e80a'; } /* '' */
.yy-icon-delete-noactive:before { content: '\e80b'; } /* '' */
.yy-icon-document:before { content: '\e80c'; } /* '' */
.yy-icon-down-open-1:before { content: '\e80d'; } /* '' */
.yy-icon-error:before { content: '\e80e'; } /* '' */
.yy-icon-left-open-1:before { content: '\e80f'; } /* '' */
.yy-icon-right-open-1:before { content: '\e810'; } /* '' */
.yy-icon-up-open-1:before { content: '\e811'; } /* '' */
.yy-icon-geo:before { content: '\e812'; } /* '' */
.yy-icon-pin:before { content: '\e813'; } /* '' */
.yy-icon-notification:before { content: '\e814'; } /* '' */
.yy-icon-phone:before { content: '\e815'; } /* '' */
.yy-icon-rocket:before { content: '\e816'; } /* '' */
.yy-icon-settings:before { content: '\e817'; } /* '' */
.yy-icon-wallet:before { content: '\e818'; } /* '' */
.yy-icon-up-dir:before { content: '\e819'; } /* '' */
.yy-icon-cancel-circled:before { content: '\e81a'; } /* '' */
.yy-icon-cancel:before { content: '\e81b'; } /* '' */