@mixin link-simple($color: inherit, $hover: lighten($color, 10%)) {
  color: $color;
  text-decoration: underline;
  &:hover {
    color: $hover;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
@mixin link-reset($color: inherit) {
  color: $color;
  text-decoration: none;
  &:hover {
    color: $color;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@mixin list-reset {
  padding-left: 0;
  list-style-type: none;
}

@mixin clear {
  clear: both !important;
  float: none !important;
  display: block !important;
}

@mixin transitions {
  transition: background-color .2s, color .2s, border-color .2s, opacity .2s;
}
@mixin fix-all-elements {
  & * {
    box-sizing: border-box;
    @include transitions;
  }
}
