.yy-panel {
  padding: 0px 8px;

  .yy-input-text {
    background-color: #fff;
    border: none;
  }
  .yy-query-line__err {
    color: #fff;
    font-size: 16px;
    padding: 7px 0;
  }
  .yy-button--input {
    $col: #feb538;
    background-color: $col;
    &:hover {
      background-color: darken($col, 10%);
    }
  }
}
.yy-panel__body {
  padding: 0 32px;
  background-color: $col3;
  box-shadow: $shadow1;
  color: #fff;
  a {
    color: #fff;
  }
}
.yy-panel__tab {
  $col: #278dc1;
  padding: 10px 20px;
  display: inline-block;
  float: left;
  margin-bottom: 8px;
  background-color: #fff;
  color: $col;
  text-decoration: none;
  &:hover {
    color: lighten($col, 15%);
  }
  &~.yy-panel__tab {
    margin-left: 8px;
  }
}
.yy-panel__tab--active {
  $col: $col3;
  background-color: transparent;
  border: 1px solid $col;
  color: $col;
  cursor: default;
  &:hover {
    color: $col;
  }
}