.yy-query-line {
  padding: 40px 0;
  &>* {
    float: left;
    &~* {
      margin-left: $padding-side;
    }
  }
}
.yy-query-line--no-padding {
  padding: 0;
}
.yy-query-line__submit {
  float: right;
}
.yy-query-line__submit--fixed-size {
  width: 115px;
  text-align: center;
}
.yy-query-line__field {
  position: relative;
  display: inline-block;
}
.yy-query-line__field--s {
  width: 135px;
}
.yy-query-line__field--m {
  width: 222px;
}
.yy-query-line__field--l {
  width: 244px;
}
.yy-query-line__field--xl {
  width: 270px;
}
.yy-query-line__field--xxl {
  width: 624px;
}

.yy-query-line__err {
  position: absolute;
  padding: 4px 0;
  right: 0;
  top: 100%;
  font-size: 14px;
  display: none;
  color: $col2;
}
.yy-query-line__err--visible {
  display: inline-block;
}
$message-padding: 25px;
.yy-query-message {
  padding: $message-padding 0;
  position: relative;
}
.yy-query-message__link {
  position: absolute;
  bottom: $message-padding;
  right: 0;
  color: #fff;
  font-size: 14px;
}



.yy-query-form__block {
  display: inline-block;
  vertical-align: top;
  float: left;
}
.yy-query-form__switch {
  width: 171px;
}
.yy-query-form__line {
  padding-top: 0;
  padding-bottom: 25px;
  margin-left: 8px;
  .yy-query-line__field--m {
    width: 165px;
  }
}