.yy-search__field {
  float: left;
  width: 275px;
}
.yy-search__icon {
  display: inline-block;
  float: left;
  $size: 42px;
  width: $size + 16px;
  height: $size;
  background: url(../images/search.svg) center no-repeat;
  background-size: 27px 27px;
  border: none;
  outline: none;
}
.yy-search__field--l {
  width: 380px;
}