.yy-table {
  border-spacing: 0;
  margin: 25px 0 16px;
  width: 100%;
  font-size: 14px;
}
.yy-table__row {
  &:hover {
    .yy-table__cell {
      background: #f7f9fa;
    }
  }
}
.yy-table__cell {
  border-bottom: $border-1;
  padding: 13px;
}
.yy-table__th {
  @extend .yy-table__cell;
  color: $col-text-2;
  font-size: 14px;
}
.yy-table__cell--number {
  width: 40px;
}
.yy-table__cell--price {
  width: 60px;
  .yy-button {
    float: right;
    margin: -6px 0;
  }
}
.yy-to-category {
  font-size: 18px;
  margin-top: 0;
  .yy-table__cell {
    text-align: center;
  }
  .yy-button {
    font-size: 12px;
    letter-spacing: normal;
  }
}
.yy-table__cell:last-child {
  text-align: right;
}
.yy-table__cell:first-child {
  text-align: left;
}
.yy-to-category__btn-col {
  width: 160px;
}
.yy-to-category__count-col {
  width: 130px;
}