.yy-table-car {
  width: 100%;
  thead, tbody {
    border-bottom: $border-1;
  }
  thead {
    color: $col-text-2;
    text-transform: uppercase;
    font-size: 14px;
  }
  tbody {
    &>tr:first-child>td {
      padding-top: $padding-side*2;
    }
    &>tr:last-child>td {
      padding-bottom: $padding-side*2;
    }
  }
  td[colspan] {
    font-size: 14px;
    text-align: left;
  }
  td {
    padding: $padding-side;
  }
  td:last-child {
    text-align: right;
  }
  th {
    padding: $padding-side*2 $padding-side;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
  }
  th:last-child, {
    text-align: right;
  }
  th, td {
    vertical-align: top;
  }
  .yy-button--icon {
    margin-left: 0;
    width: 28px;
    height: 28px;
  }
}
.yy-table-complex {
  @extend .yy-table-car;
  tbody {
    font-size: 18px;
  }
  th {
    vertical-align: bottom;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
  td {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  td:first-child {
    text-align: left;
    padding-left: 7px;
  }
  td:last-child {
    padding-right: 7px;
  }
  .yy-button {
    font-size: 14px;
    letter-spacing: normal;
  }
}
.yy-table-complex__small {
  font-size: 14px;
  color: $col-text-2;
}
.yy-table-complex__days-box {
  display: inline-block;
  position: relative;
  padding-bottom: 16px;
  white-space: nowrap;

}
.yy-table-complex__days {
  position: absolute;
  width: 100%;
}
.yy-table-complex__header {
  font-size: 22px;
  text-transform: none;
}
.yy-table-complex__th-short {
  width: 15%;
  text-align: center !important;
}
.yy-table-complex__th-last {
  width: 13%;
}

.yy-to-table {
  margin-top: 20px;
  .yy-to-table__button,.yy-to-table__button[colspan] {
    vertical-align: bottom;
    text-align: right;
    padding-top: 20px;
  }
  th {
    &:last-child {
      width: 35px;
    }
  }
  td {
    padding: 16px;
    border-bottom: $border-1;

  }
  &>tbody {
    border-bottom: none;
    border-top: $border-1;
  }
  &>tbody>tr>td {
    &:last-child {
      padding: 16px 7px 16px 0 !important;
    }
  }
  td:first-child {
    text-align: center;
    padding: 16px;
  }
}
.yy-to-table--category {
  .yy-table-complex__th-last {
    width: 28%;
  }
  td {
    vertical-align: middle;
  }
}
.yy-to-table__info {
  padding-top: 0 !important;
}
.yy-to-table__product {
  padding: 0 !important;
  border-bottom: none !important;
  td {
    padding: 8px 0;
    text-align: center;
    border: none;
    &:first-child {
      text-align: left;
      padding-left: 7px;
    }
  }
  tbody {
    border: none !important;
  }
  &~td {

  }
}

.yy-to-table2 {
  &>thead th{
    &:last-child {
      text-align: center;
      padding-left: 7px;
    }
  }
  th {
    text-align: left !important;
    padding-left: 0;
    &:first-child {
      padding-left: 7px;
    }
  }
  td {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: $border-1;
    text-align: left !important;
  }
}
.yy-to-table2__data {
  padding: 0 !important;
  width: 400px;
  &>table {
    width: 100%;
    border-bottom: none !important;
    tbody {
      border-bottom: none !important;
    }
    tr:last-child {
      td {
        border-bottom: none;
      }
    }
  }
  td, th {
    &:last-child {
      text-align: right !important;
      width: 60px;
    }
    &:nth-child(1) {
      width: 140px;
    }
    &:nth-child(2) {
      width: 100px;
      text-align: center !important;
    }
    &:nth-child(3) {
      text-align: right !important;
      width: 100px;
    }

  }
}
.yy-to-table2__more-btn {
  padding: 16px 7px;
  text-align: right;
  font-size: 14px;
  border-top: $border-1;
  .yy-icon-up-open-1:before {
    transition: transform .3s;
    transform: rotate(180deg);
  }
}
.yy-to-table2__more-btn--opened {
  .yy-icon-up-open-1:before {
    transform: rotate(0deg);
  }
}