$col-text-1: #48595e;
$col-text-2: #a4b2b8;
$col-link-1: #00b0ea;
$col-link-1-darken: #278dc1;
$col-gray: #cccccc;
$border-1: 1px solid $col-gray;
$border-2: 1px solid $col-text-1;
$col1: #98bfcd;
$col2: #dd3e44;
$col3: #e15451;
$col4: #f7f9fa;
$col5: #00b0ea;
$col6: #dae3e6;
$padding-side: 8px;
$shadow1: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
$shadow2: 0 0 10px rgba(0, 0, 0, 0.2);
$main-width: 950px;